<!-- <div [ngClass]="'alternative'">  -->
<!-- <div class="mat-app-background"> -->
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Material App</span>
      <button mat-button routerLink="/dashboard"  >
         Dashboard 
      </button> 
      <span class="example-spacer"></span>
      <button mat-button [matMenuTriggerFor]="settingsMenu" routerLink='/admin/settings'  >
         Settings 
      </button>
      <mat-menu #settingsMenu="matMenu" yPosition="below" role="menuitem">
        <button mat-menu-item routerLink='/admin/settings/theme-settings' > 
           Theme - Settings 
        </button>
        <button mat-menu-item routerLink='/admin/settings/dashboard-settings'>
          Dashboard - Settings 
        </button>
      </mat-menu>
       
      <button mat-button routerLink='/admin'>
         Admin 
      </button>
      <mat-icon class="example-icon">favorite</mat-icon>
      <mat-icon class="example-icon">delete</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar> 

  <app-custom-breadcrumb></app-custom-breadcrumb>
<router-outlet></router-outlet> 
<!-- </div>  -->
